body{
    background-color: rgb(82, 70, 70);
    color: #222
    fonte-family Arial, sans-serif;
}
header{
    background-color: rgb(73, 175, 150);
    color: rgb(253, 241, 241);
    teste-align:center;
    padding: 30px;
}
h1{
    font-size: 36px;

}
h2 {
    color:azure;
    }
    p {
        font-size:18px;
        line-height: 1.6;
    }



